@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Comfortaa&family=Poppins&family=Inter&family=Roboto&display=swap');
body{
 background-color: #F5F5F5;
}

 .App{
  overflow: hidden;
 }

 /* navbar */
 .navbarcls .nav-link,.navbarcls .btn{
  font-family: 'Inter' !important;
 }
 /* section1cls */
 /* Section1.css */
 .section1cls {
   background-image: url("./Images/Group\ 173\ \(2\).png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
 }
    .section1cls h1,.section1cls h2{
   font-size: 'Inter';
    }
  .section1cls p,.section1cls .btn{
   font-size: 'Poppins';
    }

/* section2cls */
 .section2cls {
   /* background-image: url("./Images/Component\ 2.png"); */
  
 }
.section2cls .card{
  font-family: 'Roboto';
}
.section2cls .card {
  font-family: 'Roboto';
}
.section2cls .section2clstexts {
  font-family: 'Inter';
}
/* slide-container */
.slide-container h4{
font-family: 'Inter';
}
.slide-container .card {
  font-family: 'Roboto';
}

/* section4 cls */
 .section4clsrow1 {
   /* background-image: url("./Images/Component\ 1.png"); */
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   background-position: center center;
 }
.section4cls .section4clsrow1{
  font-family: 'Inter';
}
.section4cls .Testiminalsrow,.section4cls .studentrow {
  font-family: 'Inter';
}

/* bookformcls */

.bookformcls{
  font-family: 'Roboto';
}

.footercls{
  font-family: 'Inter';
}
/* section2cls */
 @media (min-width: 992px) {
    
          .section1cls h1,
          .section1cls h2 {
            font-size: 80px;
          }
}

